<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
    <extensions>
      <add assembly="NLog.Targets.OpenSearch"/>
    </extensions>
    <targets>
      <target name="openSearch" xsi:type="BufferingWrapper" flushTimeout="5000">
        <target xsi:type="OpenSearch" layout="${logger} | ${threadid} | ${message}" index="logtest" uri="${gdc:item=newUri:whenEmpty=https\://search.ondexx.net}" includeAllProperties="true" requireAuth="true" username="ondexxopensearch" password="rTmp5r$5?3bgfHjTRHj9MBGc">
          <field name="user" layout="${environment-user}"/>
          <field name="host" layout="${machinename}"/>
          <field name="number" layout="1" layoutType="System.Int32"/>
          <field name="test" layout="${event-properties:item=test}"/>
          <typeconverter objecttype="System.Uri, System.Private.Uri" />
        </target>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="openSearch"/>
    </rules>
  </nlog>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
